body {
    background: url('/static/single_pages/images/mainimg.jpg') no-repeat;
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section {
    margin-bottom: 350px;
}

card {
    background-color: rgba(255, 255, 255, 0.5)
}

.card-body {
    background-color:rgba(255, 255, 255, 0.5)
}